* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #EFF6FF;
  font-family: 'Nanum Gothic', sans-serif;
}

body .container-img {
  position: absolute;
  top: 46vh;
  left: 46vw;
  -webkit-transition: 1s;
  transition: 1s;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .container-img img {
  width: 3em;
}

.root {
  height: 100vh;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.root .container {
  width: 50%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.root .container .container-welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
  margin-bottom: 2em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4B5563;
}

.root .container .container-welcome h1 {
  font-weight: 800;
}

.root .container .container-content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 320px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2em 3em;
  background-color: white;
  border-radius: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
          box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.root .container .container-content .login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.root .container .container-content .login-form label {
  color: #4B5563;
  font-weight: 600;
  margin-bottom: 4px;
  font-size: 13px;
  font-weight: 800;
  margin-top: 1em;
}

.root .container .container-content .login-form input {
  font-size: 16px;
  font-family: inherit;
  padding: 0.6em 0.5em;
  background-color: #fff;
  border: 1px solid #dde8f7;
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 4px;
}

.root .container .container-content .login-form input:focus {
  outline: none;
  border: 1px solid #c3d9f8;
  -webkit-box-shadow: 0 0 0 .5pt #c3d9f8;
          box-shadow: 0 0 0 .5pt #c3d9f8;
}

.root .container .container-content .login-form button {
  font-size: 16px;
  position: relative;
  color: white;
  border-radius: 4px;
  border: 0;
  padding: 8px 0;
  font-weight: 600;
  margin: 1.6em 0;
  -webkit-transition: .4s;
  transition: .4s;
  cursor: pointer;
  background-color: #4076e9;
}

.root .container .container-content .login-form button:hover {
  background-color: #0051ff;
}

.root .container .container-content .login-form button img {
  position: absolute;
  left: 10px;
  height: 16px;
}

.root .container .container-content .form-divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.root .container .container-content .form-divider hr {
  width: 6vw;
  height: 0;
  opacity: .2;
  border: .1px solid #4B5563;
  margin-top: 8px;
}

.root .container .container-content .form-divider hr:nth-child(1) {
  margin-right: 2px;
}

.root .container .container-content .form-divider hr:nth-child(3) {
  margin-left: 2px;
}

.root .container .container-content .form-divider p {
  font-size: 13px;
  font-weight: 800;
  opacity: .8;
  color: #4B5563;
}

.root .container .container-content .form-login-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 6px;
  margin: 1.4em 0;
}

.root .container .container-content .form-login-buttons button {
  width: 46%;
  height: 35px;
  padding: 8px;
  cursor: pointer;
  background-color: white;
  border: 2px solid #dfdfdf;
  border-radius: 6px;
  -webkit-transition: .1s;
  transition: .1s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.root .container .container-content .form-login-buttons button:hover {
  background-color: #f1f1f1;
}

.root .container .container-content .form-login-buttons button img {
  height: auto;
  max-width: 100%;
  width: 18px;
}

.root .container .container-content .container-new-account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.root .container .container-content .container-new-account a {
  text-decoration: none;
  font-weight: 800;
  font-size: 13px;
  color: #4B5563;
  -webkit-transition: .2s;
  transition: .2s;
}

.root .container .container-content .container-new-account a:hover {
  color: #4b85f0;
}
/*# sourceMappingURL=loginStyle.css.map */